@(message: String)
<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>

    <meta charset="utf-8">
    <title>THJUG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="assets/favicon.ico">
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/flexslider.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/designr-theme-cyan.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900'
          rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="assets/js/libs/modernizr.min.js"></script>

</head>

<body data-spy="scroll" data-target="#main-nav" data-offset="200">

<div id="page-loader"><span class="page-loader-gif"></span></div>

<!-- ==============================================
MAIN NAV
=============================================== -->
<div id="main-nav" class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scrollto" >THJUG<br><span>Thailand JVM user group</span></a>
        </div>
        <div id="site-nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home" class="scrollto">HOME</a></li>
                <li><a href="#about" class="scrollto">ABOUT</a></li>
                <li><a href="#sponsors" class="scrollto">SPONSORS</a></li>
                <li><a href="#schedule" class="scrollto">SCHEDULE</a></li>
                <li><a href="#register" class="scrollto">REGISTER</a></li>
                <li><a href="#donate" class="scrollto">DONATE</a></li>
            </ul>
        </div>
    </div>
</div>

<header id="home" class="jumbotron">
    <div class="container">
        <div class="message-box clearfix">
            <div class="left-col">
                <p>WE ARE <span>ENGINEER</span><br>We love coding
            </div>
            <div class="right-col flexslider home-slider" style="z-index:1;">
                <ul class="slides">
                    <li><p>Coding</p></li>
                    <li><p>Architect</p></li>
                    <li><p>Testing</p></li>
                    <li><p>Monitoring</p></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-1 scrollimation fade-right">
                <img class="img-responsive img-center" src="assets/logo.png" alt="">
            </div>
            <div class="col-sm-7 col-sm-offset-1 scrollimation fade-left">
                <h1 style="color: red;">THJUG is a Java & JVM user group held in Bangkok focusing on the JVM technology stack.
                    Java & JVM is an Open Source technology that gained a lot of popularity since 1999,
                    developed by James Gosling, Mike Sheridan, and Patrick Naughton in Sun Microsystems
                </h1>

                <p color="red">This technology is used by many of the biggest companies in the world because of its proven ability to enable better quality software.
                    Want to learn the tech? Start here! We are very friendly and we help beginners get started and CTOs to get smarter.
                    That's how the THJUG community works!
                </p>
            </div>
        </div>
    </div>
</section>

<section id="sponsors">
    <div class="container">
        <div class="row">
            <h1 class="section-title scrollimation scale-in"><span>SPONSORS</span><i class="fa fa-wrench"></i></h1>

            <br><br>
            <h2>If you guys can help us out a little bit, it would mean the world to us.
                We are literally paying out of our own pockets now to help grow the community in Thailand,
                and we can't do these events much longer on our own as they continue to grow so fast.
            </h2>

            <h2>The tech scene in Bangkok is SCREAMING for developers and we drag them out from universities and every other cave they live in to get them to open their eyes and see how much the world has to offer them.
            </h2>

            <h2>Just try to imagine all the things you take for granted that they might not even have heard about. That thing might be YOUR service!
            </h2>

            <h2>Most people have heard about "Cloud", "Big Data", and how important metrics are,
                but have they tried Appsignal, Mixpanel, intercom.io, or know about Microsoft's BizSpark program?
            </h2>

            <h2>This is YOUR chance to reach the community in a city of 15 million people—with just a few hundred bucks you can increase your client base in a place you hadn't even thought about yesterday!
                Please help us help you by raising awareness of your products. This is how we all thrive together!
            </h2><br>

            <h3><b>Silver Packages</b><br><br>
                15000 BAHT – Your logos on flyers, our web site, and you can pitch for job openings after the speakers.
            </h3><br>

            <h3><b>Gold Packages</b><br><br>
                25000 BAHT – Your big size logos on flyers, Gold sponsor status on our web site, newsletters and T-shirts, short bio of your company on the web page with a link back to your site.
            </h3><br>

            <h3><b>Platinum Packages</b><br><br>
                50000 BAHT – Your insanely big size logos on flyers, Platinum sponsor status on our web site, newsletters and T-shirts, short bio of your company on the web page with link to your site, AND eternal gratitude.
            </h3><br>

            <h3><b>What do we use the money for?</b><br><br>
                Prizes, marketing of the conference, speakers' costs, and the rest goes into a fund to fund the next event.
                This is a purely non-profit venture and all money is spent on developing Bangkok's technical expertise.
                It all goes back to you guys eventually, it's like carbon. ;)
            </h3><br>
        </div>
    </div>
</section>

<section id="register">
    <div class="container">
        <h1 class="section-title scrollimation scale-in">Keep in <span>Touch</span> with us</h1>
        <div class="row">
            <div class="col-sm-5 contact-info scrollimation fade-right">
                <p>THJUG</p>

                <address>
                    <a href="https://twitter.com/nuboat">nuboat</a><br>
                    Bangkok, Thailand<br>
                    nuboat at gmail dot com<br>
                </address>

                <ul class="socials">
                    <li><a href="https://facebook.com/groups/thjug"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://facebook.com/thjug"><i class="fa fa-facebook"></i></a></li>
                    <!--
                        <li><a href="#twitter-link"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#dribbble-link"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#gplus-link"><i class="fa fa-google-plus"></i></a></li>
                    -->
                </ul>
            </div>

            <form id="contact-form" class="col-sm-7 scrollimation fade-left" action="register" method="post"
                  novalidate>
                <div class="form-group">
                    <label class="control-label" for="contact-name">Name</label>

                    <div class="controls">
                        <i class="fa fa-user"></i>
                        <input id="contact-name" name="contactName" placeholder="My name is ..."
                               class="form-control input-lg requiredField" type="text"
                               data-error-empty="Please enter your name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="contact-mail">Email</label>

                    <div class=" controls">
                        <i class="fa fa-envelope"></i>
                        <input id="contact-mail" name="email" placeholder="My email is ..."
                               class="form-control input-lg requiredField" type="email"
                               data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="contact-mobile">Mobile</label>

                    <div class=" controls">
                        <i class="fa fa-envelope"></i>
                        <input id="contact-mobileno" name="mobileno" placeholder="My mobile no is ..."
                               class="form-control input-lg requiredField" type="email"
                               data-error-empty="Please enter your mobile no" data-error-invalid="Invalid mobile no">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="contact-message">Message</label>

                    <div class="controls">
                        <i class="fa fa-comment"></i>
                        <textarea id="contact-message" name="comments" placeholder="I wanna talk about..."
                                  class="form-control input-lg requiredField" rows="5"
                                  data-error-empty="Please enter your message"></textarea>
                    </div>
                </div>
                <p>
                    <button name="submit" type="submit" class="btn btn-theme btn-lg" data-error-message="Error!"
                            data-sending-message="Sending..." data-ok-message="Message Sent"><i
                            class="fa fa-paper-plane"></i>Send Message
                    </button>
                </p>
                <input type="hidden" name="submitted" id="submitted" value="true"/>
            </form>
        </div>
    </div>
</section>


<!-- ==============================================
FOOTER
=============================================== -->
<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left-col">
                <h1 class="small-logo">THJUG<br><span>Thailand JVM user group</span></h1>
                <ul class="footer-nav">
                    <li><a href="#home" class="scrollto">HOME</a></li>
                    <li><a href="#about" class="scrollto">ABOUT</a></li>
                    <li><a href="#sponsors" class="scrollto">SPONSORS</a></li>
                    <li><a href="#schedule" class="scrollto">SCHEDULE</a></li>
                    <li><a href="#register" class="scrollto">REGISTER</a></li>
                    <li><a href="#donate" class="scrollto">DONATE</a></li>
                </ul>
                <p>&copy; Copyright 2015 / All Rights Reserved</p>
            </div>

            <div class="col-sm-6 right-col">
                <h2>Who Am I?</h2>
                <p>THJUG is a Java & JVM user group held in Bangkok focusing on the JVM technology stack.
                    Java & JVM is an Open Source technology that gained a lot of popularity since 1999,
                    developed by James Gosling, Mike Sheridan, and Patrick Naughton in Sun Microsystems</p>
            </div>
        </div>
    </div>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/libs/jquery-1.9.1.min.js">\x3C/script>')</script>

<script src="assets/js/libs/bootstrap.min.js"></script>
<script src='assets/js/jquery.scrollto.js'></script>
<script src='assets/js/jquery.flexslider.min.js'></script>
<script src='assets/js/twitterFetcher_v10_min.js'></script>
<script src='assets/js/jquery.masonry.min.js'></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.easypiechart.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/contact.js"></script>
<script src="assets/js/designr.js"></script>
</body>

</html>